/* introduce */
section#company-introduce {background: url('/web/img/about/about_background_image.png') no-repeat center/cover; }
.introduce-wear,
.introduce-since {text-align: center;}
.introduce-wear {padding: 1rem 0 .5rem;}
.introduce-since small,
.introduce-wear span {font-weight: 200;}
.introduce-desc {padding: 30px; line-height: 20px; font-weight: 200;}

/* history */
section#history,
section#company-contact {border-top: 1px solid #eee;}
.history-wrap,
.company__contact--wrap {padding: 2rem .5rem 0;}
.history-title,
.contact-title {text-align: center;}
.history-title span,
.contact-title span {font-weight: 200;}
.history-achieve {display: flex; justify-content: center;}
.history-arrow {width: 15px; height: 15px; margin-top: 3rem;}
.history-arrow img {max-width: 100%;}
.history__circle--wrap {text-align: -webkit-center;}
.history__text--left .history-text {text-align: right;}
.history-text h2 {font-size: 12px;}
.history-text p {font-size: 10px; margin-top: 5px;}
.history-text.box2,
.history-text.box3,
.history-text.box4,
.history-text.box5,
.history-text.box6,
.history-text.box8,
.history-text.box9,
.history-text.box10,
.history-text.box11,
.history-text.box12 {margin-top: 75px;}
.history__text--right {margin-top: 150px;}
.history__text--left {margin-top: 85px;}
.history-circle {width: 15px; height: 15px; border-radius: 50%;}
.history__circle--box {padding: 0 10px; margin: 3rem 0;}
.margin-top {margin-top: 2rem;}
.history__circle--box:nth-child(1) .history-circle {background: #225179;} /* 첫번째는 요소생성이 안됨(없어짐) */
.history__circle--box:nth-child(2) .history-circle {background: #225179;}
.history__circle--box:nth-child(3) .history-circle {background: #4d5171;}
.history__circle--box:nth-child(4) .history-circle {background: #56395b;}
.history__circle--box:nth-child(5) .history-circle {background: #8d4d74;}
.history__circle--box:nth-child(6) .history-circle {background: #b35773;}
.history__circle--box:nth-child(7) .history-circle {background: #cb5c5c;}
.history__circle--box:nth-child(8) .history-circle {background: #c6786d;}
.history__circle--box:nth-child(9) .history-circle {background: #e38155;}
.history__circle--box:nth-child(10) .history-circle {background: #e49c47;}
.history__circle--box:nth-child(11) .history-circle {background: #ecc373;}
.history__circle--box:nth-child(12) .history-circle {background: #f2d890;}
.history__circle--box:nth-child(13) .history-circle {background: #f4e9ac;}

/* contact */
.right_contents {margin: 30px 0 0;}
.contact__address--box {display: flex; padding: .5rem; flex-wrap: nowrap; justify-content: space-between;}
.contact-address,
.contact-parking,
.contact-call,
.contact-email,
.contact-fax {display: flex; margin: 30px 0;}
.address-exp h2 {margin-bottom: 10px; padding-left: 3px;}
.address-exp h2.commun {margin-bottom: 15px;}
.address-exp p {line-height: 17px; color: #878787; font-weight: 200;}
.call-num {font-size: 1.5rem; margin-bottom: 10px; color: #353535;}
.address-exp p .point {position: relative;}
.address-exp p .text { margin-left: 10px;}
.address-exp p .point:before {content: ''; position: absolute; top: 9px; width: 5px; height: 5px; background: rgb(209, 209, 209); border-radius: 50%;}